th{
    background-color:#f2b1a1;
    color: white;
    text-align: left;
}
.appetizers{
    background-color: #fdf2f0;
}
.main-courses{
    background-color: #f2f0fd;
}
.desserts{
    background-color: #f0fdf5;
}
